
<section class="aboutblock" id="about">
  <div class="container">
    <div class="about-text-div">
    <div class="title-div">
    <p class="adv-title"><span class="adv-span">Yacht Adventures</span> fleet is here to take you on the ultimate adventure. Each yacht is hand-picked for its comfort, style, and performance.</p>
    </div>
    <ul class="adv-list">
    <li class="adv-item"><p class="adv-text">From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend of luxury and functionality. Take a look at our selection below and choose the yacht that matches your needs and preferences.
    </p></li>
    <li class="adv-item-2"><p class="adv-text">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and get ready for an unforgettable adventure on the high seas.</p></li>
</ul></div>
<ul class="adv-img-list">
<li class="adv-img-item">
    <picture>
      <source srcset="./img/review/aboutblock/imgyaht@1x.webp 1x, ./img/review/aboutblock/imgyaht@2x.webp 2x" media="(max-width: 767px)">
      <source srcset="./img/review/aboutblock/imgyahttablet@1x.webp 1x, ./img/review/aboutblock/imgyahttablet@1x.webp 2x" media="(min-width: 768px)">
      <source srcset="./img/review/aboutblock/imgyahtpc@1x.webp 1x, ./img/review/aboutblock/imgyahtpc@2x.webp 2x" media="(min-width: 1280px)">
      <img src="./img/review/aboutblock/imgyaht@2x.webp" alt="Big yaht" class="adv-img-start" width="704" height="631"/>
   </picture></li>
<li class="adv-img-item-2">
  <picture>
    <source srcset="./img/review/aboutblock/imgyaht2@1x.webp 1x, ./img/review/aboutblock/imgyaht2@2x.webp 2x" media="(max-width: 767px)">
    <source srcset="./img/review/aboutblock/imgyahttablet2@1x.webp 1x, ./img/review/aboutblock/imgyahttablet2@1x.webp 2x" media="(min-width: 768px)">
    <source srcset="./img/review/aboutblock/imgyahtpc2@1x.webp 1x, ./img/review/aboutblock/imgyahtpc2@2x.webp 2x" media="(min-width: 1280px)">
    <img src="./img/review/aboutblock/imgyaht2@2x.webp" alt="Small yaht" class="" width="335" height="289"/>
 </picture>
</li>
</ul>
<div class="aboutblock-img">
   <picture>
    <source srcset="./img/review/aboutblock/imgyaht3@1x.webp 1x, ./img/review/aboutblock/imgyaht3@2x.webp 2x" media="(max-width: 767px)">
    <source srcset="./img/review/aboutblock/imgyahttablet3@1x.webp 1x, ./img/review/aboutblock/imgyahttablet3@1x.webp 2x" media="(min-width: 768px)">
    <source srcset="./img/review/aboutblock/imgyahtpc3@1x.webp 1x, ./img/review/aboutblock/imgyahtpc3@2x.webp 2x" media="(min-width: 1280px)">
    <img src="./img/review/aboutblock/imgyaht3@2x.webp" alt="Under yaht" class="adv-img-third" width="260" height="244"/>
 </picture>
</div>
</div>
</section>