
<section class="aboutblock container">
    <p class="adv-title"><span class="adv-span">Yacht Adventures</span> fleet is here to take you on the ultimate adventure. Each yacht is hand-picked for its comfort, style, and performance.</p>
<ul class="adv-list">
    <li class="adv-item"><p class="adv-text">From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend of luxury and functionality. Take a look at our selection below and choose the yacht that matches your needs and preferences.
    </p></li>
    <li class="adv-item-2"><p class="adv-text">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and get ready for an unforgettable adventure on the high seas.</p></li>
</ul>
<ul class="adv-img-list">
<li class="adv-img-item"><img></li>
<li class="adv-img-item"><img></li>
<li class="adv-img-item"><img></li>
</ul>
</section>