    <footer class="footer">
        <div class="container container-footer">
            <div class="footer-box">
             <ul class="footer-list-logo">
              <li class="footer-logo">
                <svg class="yacht-logo" width="18" height="18">
                  <use href="./img/yacht.svg#yacht-logo"></use>
              </svg>
              </li>
              <li>
                <p class="footer-logo-text">Yacht Adventures</p>
              </li>
             </ul>
             <nav class="footer-navigation">
             <ul class="footer-list-navigations">
              <li>
                <a class="footer-pages" href="#about" >ABOUT</a>
              </li>
              <li>
                <a class="footer-pages" href="#yahtslblock" >YACHTS</a>
              </li>
              <li>
                <a class="footer-pages" href="#review">REVIEWS</a>
              </li>
             </ul>
             </nav>
             <div class="footer-list-social">
             <p class="footer-social-text">We in Social</p>
             <ul class="footer-social-networks">
                <li class="footer-nets">
                    <a class="footer-networsk-list" href="https://facebook.com" target="_blank" aria-label="facebook">
                        <svg class="networks-logo" width="32" height="32">
                            <use href="./img/yacht.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-nets">
                    <a class="footer-networsk-list" href="https://instagram.com" target="_blank" aria-label="instagram">
                        <svg class="networks-logo" width="32" height="32">
                            <use href="./img/yacht.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-nets">
                    <a class="footer-networsk-list" href="https://youtube.com" target="_blank" aria-label="youtube">
                        <svg class="networks-logo" width="32" height="32">
                            <use href="./img/yacht.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
             </ul> 
             </div>
            </div>
            <div class="footer-policy">
                <ul class="footer-policy-list">
                    <li>
                      <p class="footer-policy-text">2023. Yacht Adventures</p>
                    </li>
                    <li>
                      <p class="footer-policy-text">Privacy Police</p>
                    </li>
                </ul>
            </div>
            <div class="lights-container">
            <div class="light1"></div>
            <div class="light2"></div>
            </div>
            </div>
    </footer>