<header class="header">
  <div class="container header-container">
    <div class="header-box">
      <a class="header-list">
          <svg class="yacht-icon" width="18" height="18">
            <use href="./img/yacht.svg#yacht-logo"></use>
          </svg>
          <p class="header-logo">yacht Adventures</p>
       </a>
          
      <nav class="header-nav">
        <ul class="header-menu list">
          <li>
            <a class="header-menu-link link" href="#about">About</a>
          </li>
          <li>
            <a class="header-menu-link link" href="#yahtsblock">Yachts</a>
          </li>
          <li>
            <a class="header-menu-link link" href="#review">Reviews</a>
          </li>
        </ul>
      </nav>

      <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle-icon" width="24" height="24">
          <use href="./img/icons.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->

  <div class="header-mobil-menu js-menu-container" id="mobile-menu">
    <div class="header-mobile-container">
      <ul class="header-mobil-list list">
        <li class="header-mobil-item">
          <svg class="yacht-logo" width="18" height="18">
            <use href="./img/yacht.svg#yacht-logo"></use>
          </svg>
        </li>
        <li class="header-mobil-item">
          <p class="header-logo">yacht Adventures</p>
        </li>
        <li class="header-mobil-item">
          <button type="button" class="menu-toggle js-close-menu">
            <svg width="24" height="24" class="mobile-close">
              <use href="./img/icons.svg#close-mobil"></use>
            </svg>
          </button>
        </li>
      </ul>

      <ul class="list header-mobil-bottom">
        <li>
          <a class="link header-mobil-font" href="#about">About</a>
        </li>
        <li>
          <a class="link header-mobil-font" href="#yahtsblock">Yachts</a>
        </li>
        <li>
          <a class="link header-mobil-font" href="#review">Reviews</a>
        </li>
      </ul>
      </div>
    <div class="light-container light"></div>
   </div>
</header>