
<header class="header container">
    <div class="header-container ">

        <a class="header-line">

            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_3500_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="18"
                    height="18">
                    <path
                        d="M0 14.412L4.0605 18H15.972L17.6775 15.6038L0.0015 14.412H0ZM10.4887 0V14.3048L15.9705 14.682L10.4887 0ZM9.74175 2.4105L1.82175 13.6807L9.74175 14.2155V2.4105Z"
                        fill="black" />
                </mask>
                <g mask="url(#mask0_3500_65)">
                    <path d="M0 0H18V18H0V0Z" fill="url(#paint0_linear_3500_65)" />
                </g>
                <defs>
                    <linearGradient id="paint0_linear_3500_65" x1="7.66484" y1="2.72868e-06" x2="16.8581" y2="0.347733"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BEC7C2" />
                        <stop offset="1" stop-color="#A1B5BA" />
                    </linearGradient>
                </defs>
            </svg>

            <span class="header-logo">yacht Adventures</span>
            <a>

                <nav class="nav">
                    <ul class="header-menu list">
                        <li>
                            <a class="header-menu-link link " href="#About">About</a>
                        </li>
                        <li>
                            <a class="header-menu-link link" href="#Yachts">Yachts</a>
                        </li>
                        <li>
                            <a class="header-menu-link link" href="#Reviews">Reviews</a>
                        </li>
                    </ul>
                </nav>

                <button type="button" class="header-mobil-menu-open" data-menu-open>
                    <svg width="24" height="24" class="mobile-svg">
                        <use href="../img/icons.svg#burger"></use>
                    </svg>
                </button>


    </div>



    <div class="header-mobil-menu is-open" data-menu>
        <div class=" header-mobil-container">

            <a class="header-line">


                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_3500_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="18"
                        height="18">
                        <path
                            d="M0 14.412L4.0605 18H15.972L17.6775 15.6038L0.0015 14.412H0ZM10.4887 0V14.3048L15.9705 14.682L10.4887 0ZM9.74175 2.4105L1.82175 13.6807L9.74175 14.2155V2.4105Z"
                            fill="black" />
                    </mask>
                    <g mask="url(#mask0_3500_65)">
                        <path d="M0 0H18V18H0V0Z" fill="url(#paint0_linear_3500_65)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_3500_65" x1="7.66484" y1="2.72868e-06" x2="16.8581"
                            y2="0.347733" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#BEC7C2" />
                            <stop offset="1" stop-color="#A1B5BA" />
                        </linearGradient>
                    </defs>
                </svg>
                <span class="header-logo">yacht Adventures</span>
                <a>

                    <button type="button" class="mobil-menu_close-btn" data-menu-close>
                        <svg width="24" height="24" class="mobile-close">
                            <use href="../img/icons.svg#close-mobil"></use>
                        </svg>
                    </button>
                    <div class="header-mobil-bg"></div>
                    <ul class="list header-mobil-bottom ">
                        <li>
                            <a class="link header-mobil-font " href="#About">About</a>
                        </li>
                        <li>
                            <a class="link  header-mobil-font" href="#Yachts">Yachts</a>
                        </li>
                        <li>
                            <a class="link header-mobil-font" href="#Reviews">Reviews</a>
                        </li>
                    </ul>


        </div>
    </div>
</header>

