<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-content-container">
      <div class="hero-light"></div>
      <div class="hero-light-one"></div>
      <div class="hero-light-two"></div>
      <h1 class="hero-title">
        Explore the High Seas with
        <span class="hero-title-italic">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <button type="button" class="hero-btn-start">Get Started</button>
        </li>
        <li class="hero-btn-item">
          <a href="#services" class="hero-btn-explore">Explore</a>
        </li>
      </ul>
    </div>
    <div class="hero-card-container">
      <!-- clients -->
      <div class="hero-clients-container">
        <ul class="hero-list-clients">
          <!-- dark-men -->
          <li hero-list-item>
            <picture>
              <source
                srcset="
                  ./img/hero/dark-men-p@1x.jpg 1x,
                  ./img/hero/dark-men-p@2x.jpg 2x
                "
                media="(max-width: 767.99px)"
              />
              <source
                srcset="
                  ./img/hero/dark-men-td@1x.jpg 1x,
                  ./img/hero/dark-men-td@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="hero-clients-photo dark-men"
                src="./img/hero/dark-men-p@2x.jpg"
                alt="photo of John Wax"
                width="48"
                height="48"
              />
            </picture>
          </li>

          <!-- women -->
          <li hero-list-item>
            <picture>
              <source
                srcset="
                  ./img/hero/women-p@1x.jpg 1x,
                  ./img/hero/women-p@2x.jpg 2x
                "
                media="(max-width: 767.99px)"
              />
              <source
                srcset="
                  ./img/hero/women-td@1x.jpg 1x,
                  ./img/hero/women-td@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="hero-clients-photo women"
                src="./img/hero/women-p@2x.jpg"
                alt="photo of Victoria Romashenko"
                width="48"
                height="48"
              />
            </picture>
          </li>

          <!-- light-men -->
          <li hero-list-item>
            <picture>
              <source
                srcset="
                  ./img/hero/light-men-p@1x.jpg 1x,
                  ./img/hero/light-men-p@2x.jpg 2x
                "
                media="(max-width: 767.99px)"
              />
              <source
                srcset="
                  ./img/hero/light-men-td@1x.jpg 1x,
                  ./img/hero/light-men-td@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="hero-clients-photo light-men"
                src="./img/hero/light-men-p@2x.jpg"
                alt="photo of Ihor Trachuk"
                width="48"
                height="48"
              />
            </picture>
          </li>
        </ul>
        <p class="client-title">OUR CLIENTS</p>
      </div>

      <!-- yahts photo -->
      <picture>
        <source
          srcset="./img/hero/yaht-p@1x.png 1x, ./img/hero/yaht-p@2x.png 2x"
          media="(max-width: 767.99px)"
        />
        <source
          srcset="./img/hero/yaht-td@1x.png 1x, ./img/hero/yaht-td@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img
          class="hero-photo-yahtas"
          src="./img/hero/yaht-p@2x.png"
          alt="yaht"
          width="378"
          height="221"
          loading="lazy"
        />
      </picture>

      <div class="hero-price-container">
        <p class="hero-cost">$12M</p>
        <p class="hero-description">
          Book now and make your dream yacht rental a reality
        </p>
      </div>

      <!-- owner -->
      <picture>
        <source
          srcset="./img/hero/owner-p@1x.jpg 1x, ./img/hero/owner-p@2x.jpg 2x"
          media="(max-width: 767.99px)"
        />
        <source
          srcset="./img/hero/owner-td@1x.jpg 1x, ./img/hero/owner-td@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <img
          class="hero-owners-photo"
          src="./img/hero/owner-p@2x.jpg"
          alt="owner yahts"
          width="233"
          height="233"
        />
      </picture>
    </div>
  </div>
</section>
