<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-content-container">
      <div class="hero-light"></div>
      <div class="hero-light-one"></div>
      <div class="hero-light-two"></div>
      <h1 class="hero-title">
        Explore the High Seas with
        <span class="hero-title-italic">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <button type="button" class="hero-btn-start">Get Started</button>
        </li>
        <li class="hero-btn-item">
          <a href="#services"><button type="button" class="hero-btn-explore">Explore</button></a>
        </li>
      </ul>
    </div>
    <div class="hero-card-container">
      <div class="hero-clients-container">
        <ul class="hero-list-clients">
          <li hero-list-item>
            <img
              class="hero-clients-photo dark-men"
              srcset="
                ./img/review/photo01@1x.jpg 1x,
                ./img/review/photo01@2x.jpg 2x
              "
              src="./img/review/photo01@2x.jpg"
              alt="photo of John Wax"
              width="48"
              height="48"
            />
          </li>
          <li hero-list-item>
            <img
              class="hero-clients-photo women"
              srcset="
                ./img/review/photo02@1x.jpg 1x,
                ./img/review/photo02@2x.jpg 2x
              "
              src="./img/review/photo02@2x.jpg"
              alt="photo of Victoria Romashenko"
              width="48"
              height="48"
            />
          </li>
          <li hero-list-item>
            <img
              class="hero-clients-photo light-men"
              srcset="
                ./img/review/photo03@1x.jpg 1x,
                ./img/review/photo03@2x.jpg 2x
              "
              src="./img/review/photo03@2x.jpg"
              alt="photo of Ihor Trachuk"
              width="48"
              height="48"
            />
          </li>
        </ul>
        <p class="client-title">OUR CLIENTS</p>
      </div>
      <img
        class="hero-photo-yahtas"
        srcset="./img/hero/yaht@1x.png 1x, ./img/hero/yaht@2x.png 2x"
        src="./img/hero/yaht@1x.png"
        alt="yaht"
        width="378"
        height="221"
        loading="lazy"
      />
      <div class="hero-price-container">
        <p class="hero-cost">12$M</p>
        <p class="hero-description">
          Book now and make your dream yacht rental a reality
        </p>
      </div>
      <img
        class="hero-owners-photo"
        srcset="./img/hero/man@1x.jpg 1x, ./img/hero/man@2x.jpg 2x"
        src="./img/hero/man@1x.jpg"
        alt="owner yahts"
        width="233"
        height="233"
      />
      <span class="for-fon"></span>
    </div>
  </div>
</section>
