         <!-- review section -->

      <section class="review-section" id="review">
        <div class="container">
          <div class="review-text-blk">
            <div class="rent-light"></div>
            <h3 class="review-h">
              <span class="review-span">Yacht Adventures </span>take pride in providing the best
              possible service and experience to our customers
            </h3>
            <p class="review-p">
              Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word
              for it - read on to find out what they have to say about their journey with us.
            </p>
          </div>

          <!-- review card list -->
          <!-- swiper for mobile -->
          <div class="review-mobile swiper mySwiper">
            <ul class="review-card-list swiper-wrapper">
              <li class="review-card-item swiper-slide">
                <img 
                  class="rev-photo"
                  srcset="./img/review/photo01@1x.jpg 1x, ./img/review/photo01@2x.jpg 2x"
                  src="./img/review/photo01@2x.jpg"
                  alt="photo of John Wax"
                  width="48" height="48"
                />
                <h4 class="rev-name">John Wax</h4>
                <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                  it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                  and the crew took care of everything. </p>
              </li>

              <li class="review-card-item swiper-slide">
                <img 
                  class="rev-photo"
                  srcset="./img/review/photo02@1x.jpg 1x, ./img/review/photo02@2x.jpg 2x"
                  src="./img/review/photo02@2x.jpg"
                  alt="photo of Victoria Romashenko"
                  width="48" height="48"
                />
                <h4 class="rev-name">Victoria Romashenko</h4>
                <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                  it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                  and the crew took care of everything. </p>
              </li>

              <li class="review-card-item swiper-slide">
                <img 
                  class="rev-photo"
                  srcset="./img/review/photo03@1x.jpg 1x, ./img/review/photo03@2x.jpg 2x"
                  src="./img/review/photo03@2x.jpg"
                  alt="photo of Ihor Trachuk"
                  width="48" height="48"
                />
                <h4 class="rev-name">Ihor Trachuk</h4>
                <p class="rev-text">The Azimut 80 was the most luxurious yacht I've ever been on. 
                  The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing
                   and entertaining. Worth every penny!</p>
              </li>
            </ul>
           
          </div>

            <!-- tablet block -->
            <div class="review-tablet swiper mySwiper">
              <div class="review-card-list swiper-wrapper">
                
                <div class="card-block swiper-slide">
                  <div class="review-card-item">  
                    <img 
                      class="rev-photo"
                      srcset="./img/review/photo01@1x.jpg 1x, ./img/review/photo01@2x.jpg 2x"
                      src="./img/review/photo01@2x.jpg"
                      alt="photo of John Wax"
                      width="48" height="48"
                    />
                    <h4 class="rev-name">John Wax</h4>
                    <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                      it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                      and the crew took care of everything. 
                    </p>
                  </div>
                  <div class="review-card-item">
                    <img 
                    class="rev-photo"
                    srcset="./img/review/photo02@1x.jpg 1x, ./img/review/photo02@2x.jpg 2x"
                    src="./img/review/photo02@2x.jpg"
                    alt="photo of Victoria Romashenko"
                    width="48" height="48"
                    />
                    <h4 class="rev-name">Victoria Romashenko</h4>
                    <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                      it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                      and the crew took care of everything. 
                    </p>
                  </div>
                </div>

                <div class="card-block swiper-slide">
                  <div class="review-card-item">  
                    <img 
                      class="rev-photo"
                      srcset="./img/review/photo03@1x.jpg 1x, ./img/review/photo03@2x.jpg 2x"
                      src="./img/review/photo03@2x.jpg"
                      alt="photo of Ihor Trachuk"
                      width="48" height="48"
                    />
                    <h4 class="rev-name">Ihor Trachuk</h4>
                    <p class="rev-text">The Azimut 80 was the most luxurious yacht I've ever been on. 
                      The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing
                       and entertaining. Worth every penny!
                    </p>
                  </div>
                  
                  <div class="review-card-item">
                    <img 
                      class="rev-photo"
                      srcset="./img/review/photo01@1x.jpg 1x, ./img/review/photo01@2x.jpg 2x"
                      src="./img/review/photo01@2x.jpg"
                      alt="photo of John Wax"
                      width="48" height="48"
                    />
                    <h4 class="rev-name">John Wax</h4>
                    <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                      it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                      and the crew took care of everything. 
                    </p>
                  </div>
                </div>

                <div class="card-block swiper-slide">
                  <div class="review-card-item">  
                    <img 
                    class="rev-photo"
                    srcset="./img/review/photo02@1x.jpg 1x, ./img/review/photo02@2x.jpg 2x"
                    src="./img/review/photo02@2x.jpg"
                    alt="photo of Victoria Romashenko"
                    width="48" height="48"
                    />
                    <h4 class="rev-name">Victoria Romashenko</h4>
                    <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                      it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                      and the crew took care of everything. 
                    </p>
                  </div>
                  <div class="review-card-item">
                    <img 
                      class="rev-photo"
                      srcset="./img/review/photo03@1x.jpg 1x, ./img/review/photo03@2x.jpg 2x"
                      src="./img/review/photo03@2x.jpg"
                      alt="photo of Ihor Trachuk"
                      width="48" height="48"
                    />
                    <h4 class="rev-name">Ihor Trachuk</h4>
                    <p class="rev-text">The Azimut 80 was the most luxurious yacht I've ever been on. 
                      The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing
                       and entertaining. Worth every penny!
                    </p>
                  </div>
                </div>

              </div>
            </div>


          <!-- desktop part -->
          <div class="review-desctop">
            <ul class="review-card-list">
              <li class="review-card-item card1">
                <img 
                  class="rev-photo"
                  srcset="./img/review/photo01@1x.jpg 1x, ./img/review/photo01@2x.jpg 2x"
                  src="./img/review/photo01@2x.jpg"
                  alt="photo of John Wax"
                  width="48" height="48"
                />
                <h4 class="rev-name">John Wax</h4>
                <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                  it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                  and the crew took care of everything. </p>
              </li>
            
              <li class="review-card-item card2">
                <img 
                  class="rev-photo"
                  srcset="./img/review/photo02@1x.jpg 1x, ./img/review/photo02@2x.jpg 2x"
                  src="./img/review/photo02@2x.jpg"
                  alt="photo of Victoria Romashenko"
                  width="48" height="48"
                />
                <h4 class="rev-name">Victoria Romashenko</h4>
                <p class="rev-text">I rented the Lagoon 620 with my family for a week-long vacation and 
                  it was the best decision ever. The yacht was spacious, comfortable, and luxurious, 
                  and the crew took care of everything. </p>
              </li>
              
              <li class="review-card-item card3">
                <img 
                  class="rev-photo"
                  srcset="./img/review/photo03@1x.jpg 1x, ./img/review/photo03@2x.jpg 2x"
                  src="./img/review/photo03@2x.jpg"
                  alt="photo of Ihor Trachuk"
                  width="48" height="48"
                />
                <h4 class="rev-name">Ihor Trachuk</h4>
                <p class="rev-text">The Azimut 80 was the most luxurious yacht I've ever been on. 
                  The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing
                   and entertaining. Worth every penny!</p>
              </li>
            </ul>
          </div>
          <div class="indicator">
            <span class="point"></span>
            <span class="point"></span>
            <span class="point"></span>
          </div>

        </div>
      </section>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      effect: 'coverflow', 
  coverflowEffect: {
    rotate: 0, 
    stretch: 0, 
    depth: 500, 
    modifier: 5,
    slideShadows: true,
  },
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".indicator",
        clickable: true,
      }
    });
</script>