<section>
  <div class="services-container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services-list">
      <li class="services-item">
        <img
          class="services-image first"
          srcset="
            ./5-section-image/diving@1x.jpg 1x,
            ./5-section-image/diving@2x.jpg 2x
          "
          src="./5-section-image/diving@1x.jpg"
          alt=""
        />
        <p class="services-text first">Diving</p>
      </li>
      <li>
        <img
          class="services-image second"
          srcset="
            ./5-section-image/fishing@1x.jpg 1x,
            ./5-section-image/fishing@2x.jpg 2x
          "
          src="./5-section-image/fishing@1x.jpg"
          alt=""
        />
        <p class="services-text second">Fishing</p>
      </li>
      <li>
        <img
          class="services-image third"
          srcset="
            ./5-section-image/fishing@1x.jpg 1x,
            ./5-section-image/fishing@2x.jpg 2x
          "
          src="./5-section-image/sunbathing@1x.jpg"
          alt=""
        />
        <p class="services-text third">Sunbathing</p>
      </li>
    </ul>
  </div>
</section>
