<section class="services-section">
  <div class="services container">
    <h2 class="visually-hidden" id="services">Services</h2>
    <ul class="services-list">
      <li class="services-item first">
        <picture>
          <source
            srcset="
              ./img/services/diving-mob@1x.webp 1x,
              ./img/services/diving-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/services/diving-tabl@1x.webp 1x,
              ./img/services/diving-tabl@2x.webp 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./img/services/diving-desc@1x.webp 1x,
              ./img/services/diving-desc@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/services/diving-mob@2x.webp"
            alt="a diver in a mask and fins swims under water"
            width="712"
            height="632"
            loading="lazy"
          />
        </picture>
        <p class="services-text">Diving</p>
      </li>
      <li class="services-item second">
        <picture>
          <source
            srcset="
              ./img/services/fishing-mob@1x.webp 1x,
              ./img/services/fishing-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/services/fishing-tabl@1x.webp 1x,
              ./img/services/fishing-tabl@2x.webp 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./img/services/fishing-desc@1x.webp 1x,
              ./img/services/fishing-desc@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/services/fishing-mob@2x.webp"
            alt="fishing rod with reel in hands"
            width="440"
            height="428"
            loading="lazy"
          />
        </picture>
        <p class="services-text">Fishing</p>
      </li>
      <li class="services-item third">
        <picture>
          <source
            srcset="
              ./img/services/sunbathing-mob@1x.webp 1x,
              ./img/services/sunbathing-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/services/sunbathing-tabl@1x.webp 1x,
              ./img/services/sunbathing-tabl@2x.webp 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./img/services/sunbathing-desc@1x.webp 1x,
              ./img/services/sunbathing-desc@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/services/sunbathing-mob@2x.webp"
            alt="view on the sky under white umbrellas"
            width="436"
            height="352"
            loading="lazy"
          />
        </picture>
        <p class="services-text">Sunbathing</p>
      </li>
    </ul>
  </div>
</section>
