<section class="section-yahtsblock" id="yahtsblock">
  <div class="element-looper"></div>
  <div class="yahtsblock_container container">
    <div class="yacht-title-container">
    <h1 class="yahtsblock_title">
      Choose your dream yacht and sail away into the sunset
    </h1>
    <a href="#rent-blok" class="anchor-btn">Yacht rental</a>
   </div>
    <!-- Yahts cards -->
    <div class="yahts-cards">
      <ul class="yahts-cards-list list">
        <li class="yahts-cards-item">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-1@1x.png"
            srcset="
              ./img/yahtsblock/yaht-1@1x.png 1x,
              ./img/yahtsblock/yaht-1@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">Arrow</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">BUILDER</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">48m(155ft)</li>
              <li class="yahts-right-item">Admiral</li>
              <li class="yahts-right-item">2021</li>
              <li class="yahts-right-item">11 in 5 cabins</li>
              <li class="yahts-right-item">€33,500,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-2">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-2@1x.png"
            srcset="
              ./img/yahtsblock/yaht-2@1x.png 1x,
              ./img/yahtsblock/yaht-2@2x.png 2x
            "
            alt="luxury yahts Benetti oasis"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">BENETTI OASIS 40M...</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">41m (133ft)</li>
              <li class="yahts-right-item">Benetti</li>
              <li class="yahts-right-item">2025</li>
              <li class="yahts-right-item">10 in 5 cabins</li>
              <li class="yahts-right-item">€23,210,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-3">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-3@1x.png"
            srcset="
              ./img/yahtsblock/yaht-3@1x.png 1x,
              ./img/yahtsblock/yaht-3@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">BELLE ANNA</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">50m(155ft)</li>
              <li class="yahts-right-item">ISA</li>
              <li class="yahts-right-item">2012</li>
              <li class="yahts-right-item">12 in 6 cabins</li>
              <li class="yahts-right-item">€21,000,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-4">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-4@1x.png"
            srcset="
              ./img/yahtsblock/yaht-4@1x.png 1x,
              ./img/yahtsblock/yaht-4@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">Ellen</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">40m (132ft)</li>
              <li class="yahts-right-item">Perini Navi</li>
              <li class="yahts-right-item">2001 / 2016 (refitted)</li>
              <li class="yahts-right-item">9 in 4 cabins</li>
              <li class="yahts-right-item">€9,300,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-4">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-5@1x.png"
            srcset="
              ./img/yahtsblock/yaht-5@1x.png 1x,
              ./img/yahtsblock/yaht-5@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">MIRAGE 401</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">38m (125ft)</li>
              <li class="yahts-right-item">Gianetti Custom Yachts</li>
              <li class="yahts-right-item">2024</li>
              <li class="yahts-right-item">10 in 5 cabins</li>
              <li class="yahts-right-item">€13,500,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-4">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-6@1x.png"
            srcset="
              ./img/yahtsblock/yaht-6@1x.png 1x,
              ./img/yahtsblock/yaht-6@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">KING</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">33m (109ft)</li>
              <li class="yahts-right-item">Overmarine</li>
              <li class="yahts-right-item">2004 / 2018 (refitted)</li>
              <li class="yahts-right-item">9 in 4 cabins</li>
              <li class="yahts-right-item">€1,850,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-4">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-7@1x.png"
            srcset="
              ./img/yahtsblock/yaht-7@1x.png 1x,
              ./img/yahtsblock/yaht-7@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">SALT</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">BUILDER</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">32m (105ft)</li>
              <li class="yahts-right-item">SanLorenzo</li>
              <li class="yahts-right-item">2019</li>
              <li class="yahts-right-item">11 in 5 cabins</li>
              <li class="yahts-right-item">€7,800,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-4">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-8@1x.png"
            srcset="
              ./img/yahtsblock/yaht-8@1x.png 1x,
              ./img/yahtsblock/yaht-8@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">STORM</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">32m (103ft)</li>
              <li class="yahts-right-item">Overmarine</li>
              <li class="yahts-right-item">2005 / 2022 (refitted)</li>
              <li class="yahts-right-item">9 in 4 cabins</li>
              <li class="yahts-right-item">€2,900,000</li>
            </ul>
          </div>
        </li>
        <li class="yahts-cards-item cards-4">
          <img
            class="yahts-cards-img"
            src="./img/yahtsblock/yaht-9@1x.png"
            srcset="
              ./img/yahtsblock/yaht-9@1x.png 1x,
              ./img/yahtsblock/yaht-9@2x.png 2x
            "
            alt="luxury yahts Arrow"
            width="299"
            height="251"
          />
          <div class="yahts-cards-sub">
            <h2 class="yahts-cards-subtitle">COLLU</h2>
            <p class="yahts-cards-text">LUXURY YAHTS</p>
          </div>
          <div class="yahts-specifications">
            <ul class="yahts-left-list list">
              <li class="yahts-left-item">LENGTH</li>
              <li class="yahts-left-item">SHIPYARD</li>
              <li class="yahts-left-item">BUILT</li>
              <li class="yahts-left-item">GUESTS</li>
              <li class="yahts-left-item">PRICE</li>
            </ul>
            <ul class="yahts-right-list list">
              <li class="yahts-right-item">29m (96ft)</li>
              <li class="yahts-right-item">Ferretti</li>
              <li class="yahts-right-item">2014</li>
              <li class="yahts-right-item">10 in 5 cabins</li>
              <li class="yahts-right-item">$4,300,000</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="slayder-btn">
        <button class="yahts-left-btn" type="submit">
          <svg class="slayder-left-btn" width="18" height="8">
            <use href="./img/icons.svg#arrow_left_slayd"></use>
          </svg>
        </button>
        <button class="yahts-right-btn" type="submit">
          <svg class="slayder-right-btn" width="18" height="8">
            <use href="./img/icons.svg#arrow_right_slayd"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
