<section class="section-yahtsblock" id="yahtslblock">
  <div class="yahtsblock_container container">
    <div class="circle-container container">
      <!-- Rotating circles -->
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
    </div>
    <h1 class="yahtsblock_title">
      Choose your dream yacht and sail away into the sunset
    </h1>

    <a href="">
      <button type="button" class="anchor-btn">Yacht rental</button>
    </a>
  </div>
  <!-- Yahts cards -->
  <div class="yahts-cards-container container">
    <div class="yahts-loopergroup container">
      <svg class="yahts-loopergroup-png"
        xmlns="http://www.w3.org/2000/svg"
        width="1508"
        height="1611"
        fill="none"
      >
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M357.685 259.258c-52.059 20.623-148.499 99.543-117.792 250.242 38.384 188.373 223.059 292.811 293.468 467.659 51.967 129.051 101.354 459.031-62.15 613.091"
          opacity=".053"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M460 248.341c-54.579 15.784-160.695 85.347-148.525 237.323 15.213 189.971 186.996 309.854 235.888 489.285 36.086 132.431 44.889 463.621-137.511 601.621"
          opacity=".105"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M561.768 244.805c-56.209 10.77-170.252 70.202-176.752 221.767-8.123 189.457 148.035 323.454 174.694 505.472 19.677 134.346-12.107 463.056-210.388 583.466"
          opacity=".158"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1289.4 281.891C696.863 35.003 484.062 302.787 458.984 452.303c-31.347 186.896 108.414 333.559 112.767 516.199C574.964 1103.3 502.884 1426 289.811 1527.5"
          opacity=".211"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1249.41 300.114c-438.927-187.527-672.907-3.17-716.282 142.632-54.219 182.251 67.408 339.947 49.372 521.172-13.313 133.762-124.862 446.832-350.135 528.302"
          opacity=".263"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1240.72 309.98c-275.782-121.752-572.54-12.506-633.739 127.984-76.498 175.612 25.661 342.61-14.571 520.438-29.694 131.248-179.494 431.268-414.501 491.828"
          opacity=".316"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1237.76 326.071c-214.22-88.65-479.443-21.835-557.797 111.806-97.942 167.051-16.372 341.521-78.36 514.002-45.752 127.301-232.166 410.991-474.333 449.981"
          opacity=".368"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1262.83 359.698c-192.63-100.165-416.675-42.663-511.329 82.666-118.316 156.662-58.23 336.692-141.299 501.939-61.31 121.967-282.303 386.217-528.98 403.207"
          opacity=".421"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1280.3 389.596c-212.77-61.759-349.355-53.995-459.272 61.649-137.397 144.556-99.456 328.17-202.697 484.373C542.132 1050.91 288.98 1292.83 40.497 1287.63"
          opacity=".474"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1198.51 406.786c-51.84-24.454-186.52-47.188-310.502 57.506-154.973 130.867-139.596 316.051-261.879 461.497-90.255 107.351-372.794 324.291-620.36 296.971"
          opacity=".526"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1269.16 452.017c-48.79-28.837-180.54-63.362-317.219 29.237-170.854 115.748-178.212 300.473-318.202 433.573-103.323 98.233-412.162 287.833-656.102 238.693"
          opacity=".579"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1332.78 501.153c-45.19-32.903-172.55-78.837-320.44.653-184.867 99.362-214.882 281.601-371.046 400.895-115.261 88.048-447.015 248.219-684.653 177.809"
          opacity=".632"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1388.93 553.526c-41.11-36.606-162.69-93.44-320.17-27.929-196.849 81.888-249.194 259.637-419.822 363.819C523.002 966.31 171.965 1095.3-56.766 1004.4"
          opacity=".684"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1437.2 608.435c-36.57-39.904-151.04-107.007-316.38-56.192-206.68 63.519-280.784 234.821-464.007 322.748-135.232 64.897-501.705 161.299-719.021 50.924"
          opacity=".737"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1477.28 665.141c-31.63-42.757-137.73-119.379-309.12-83.814-214.248 44.457-309.301 207.417-503.113 278.125C522 911.639 144.105 974.406-59.413 845.787"
          opacity=".789"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1508.97 722.876c-26.34-45.126-122.9-130.395-298.47-110.463-219.467 24.915-334.429 177.707-536.707 230.418-149.296 38.904-534.473 67.365-721.962-78.033"
          opacity=".842"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1532.14 781.083c-20.76-47.294-106.73-140.85-284.56-136.723-222.27 5.158-355.886 147.013-564.414 181.388-153.909 25.372-542.148 19.223-711.553-142.349"
          opacity=".895"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1546.67 838.842c-14.95-48.622-89.38-148.819-267.49-160.637-222.62-14.773-373.406 113.548-585.873 128.895C536.491 818.427 149.493 777.634.051 602.722"
          opacity=".947"
        />
        <path
          stroke="#F6F5EF"
          stroke-width="1.458"
          d="M1552.82 895.337c-8.98-49.452-71.07-155.261-247.52-182.872-220.57-34.514-386.889 79-600.994 75.201-158.025-2.805-539.593-77.757-667.456-264.207"
        />
      </svg>
    </div>
    <ul>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-1@1x.png"
          srcset="
            ./img/yahtsblock/yaht-1@1x.png 1x,
            ./img/yahtsblock/yaht-1@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">Arrow</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">BUILDER</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">48m(155ft)</li>
          <li class="yahts-right-item">Admiral</li>
          <li class="yahts-right-item">2021</li>
          <li class="yahts-right-item">11 in 5 cabins</li>
          <li class="yahts-right-item">€33,500,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-2@1x.png"
          srcset="
            ./img/yahtsblock/yaht-2@1x.png 1x,
            ./img/yahtsblock/yaht-2@2x.png 2x
          "
          alt="luxury yahts Benetti oasis"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">BENETTI OASIS 40M BO122</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">41m (133ft)</li>
          <li class="yahts-right-item">Benetti</li>
          <li class="yahts-right-item">2025</li>
          <li class="yahts-right-item">10 in 5 cabins</li>
          <li class="yahts-right-item">€23,210,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-3@1x.png"
          srcset="
            ./img/yahtsblock/yaht-3@1x.png 1x,
            ./img/yahtsblock/yaht-3@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">BELLE ANNA</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">50m(155ft)</li>
          <li class="yahts-right-item">ISA</li>
          <li class="yahts-right-item">2012</li>
          <li class="yahts-right-item">12 in 6 cabins</li>
          <li class="yahts-right-item">€21,000,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-4@1x.png"
          srcset="
            ./img/yahtsblock/yaht-4@1x.png 1x,
            ./img/yahtsblock/yaht-4@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">Ellen</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">40m (132ft)</li>
          <li class="yahts-right-item">Perini Navi</li>
          <li class="yahts-right-item">2001 / 2016 (refitted)</li>
          <li class="yahts-right-item">9 in 4 cabins</li>
          <li class="yahts-right-item">€9,300,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-5@1x.png"
          srcset="
            ./img/yahtsblock/yaht-5@1x.png 1x,
            ./img/yahtsblock/yaht-5@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">MIRAGE 401</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">38m (125ft)</li>
          <li class="yahts-right-item">Gianetti Custom Yachts</li>
          <li class="yahts-right-item">2024</li>
          <li class="yahts-right-item">10 in 5 cabins</li>
          <li class="yahts-right-item">€13,500,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-6@1x.png"
          srcset="
            ./img/yahtsblock/yaht-6@1x.png 1x,
            ./img/yahtsblock/yaht-6@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">KING</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">33m (109ft)</li>
          <li class="yahts-right-item">Overmarine</li>
          <li class="yahts-right-item">2004 / 2018 (refitted)</li>
          <li class="yahts-right-item">9 in 4 cabins</li>
          <li class="yahts-right-item">€1,850,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-7@1x.png"
          srcset="
            ./img/yahtsblock/yaht-7@1x.png 1x,
            ./img/yahtsblock/yaht-7@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">SALT</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">BUILDER</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">32m (105ft)</li>
          <li class="yahts-right-item">SanLorenzo</li>
          <li class="yahts-right-item">2019</li>
          <li class="yahts-right-item">11 in 5 cabins</li>
          <li class="yahts-right-item">€7,800,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-8@1x.png"
          srcset="
            ./img/yahtsblock/yaht-8@1x.png 1x,
            ./img/yahtsblock/yaht-8@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">STORM</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">32m (103ft)</li>
          <li class="yahts-right-item">Overmarine</li>
          <li class="yahts-right-item">2005 / 2022 (refitted)</li>
          <li class="yahts-right-item">9 in 4 cabins</li>
          <li class="yahts-right-item">€2,900,000</li>
        </ul>
      </li>
      <li>
        <img
          class="yahts-cards-img"
          src="./img/yahtsblock/yaht-9@1x.png"
          srcset="
            ./img/yahtsblock/yaht-9@1x.png 1x,
            ./img/yahtsblock/yaht-9@2x.png 2x
          "
          alt="luxury yahts Arrow"
          width="299"
          height="251"
        />
        <div class="yahts-cards-sub">
          <h2 class="yahts-cards-subtitle">COLLU</h2>
          <p class="yahts-cards-text">LUXURY YAHTS</p>
        </div>
        <ul class="yahts-left-list list">
          <li class="yahts-left-item">LENGTH</li>
          <li class="yahts-left-item">SHIPYARD</li>
          <li class="yahts-left-item">BUILT</li>
          <li class="yahts-left-item">GUESTS</li>
          <li class="yahts-left-item">PRICE</li>
        </ul>
        <ul class="yahts-right-list list">
          <li class="yahts-right-item">29m (96ft)</li>
          <li class="yahts-right-item">Ferretti</li>
          <li class="yahts-right-item">2014</li>
          <li class="yahts-right-item">10 in 5 cabins</li>
          <li class="yahts-right-item">$4,300,000</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
