.adv-title {color: #F6F5EF;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
    width: 335px;}

    .adv-span {color:#BEC7C2;
        font-family: DM Sans;
        font-size: 24px;
        font-style: italic;
        font-weight: 500;
        line-height: 28.8px;
        letter-spacing: -1.08px;}
        
        .adv-text {color: #F6F5EF;
            font-family: DM Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; 
            letter-spacing: -0.28px;}
            .adv-list {
                display: inline-flex;
align-items: flex-start;
            gap:14px;
        margin-top: 40px;}
        
        .adv-item {min-width: 160px;
        height:220px}
        .adv-item-2 {min-width: 161px;
        height:180px;
    }
    .adv-img-list {padding-top: 40px;
        gap:24px;}
    .adv-img-item {padding-bottom: 24px;}
    .adv-img-third {mask-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #11131F 100%), url(../img/review/aboutblock/imgyaht3@1x.png), lightgray -86.838px 0px / 166.799% 100% no-repeat;
        ;}