@media only screen and (min-width: 1280px){
    .about-text-div {display: inline-flex;}
}
.title-div {width: 335px;}
@media only screen and (min-width: 768px){
    .title-div {width: 511px;
    }
}
@media only screen and (min-width: 1280px){
    .title-div {}
}
.adv-title {color: #F6F5EF;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
    }
    @media only screen and (min-width: 768px) {
    .adv-title {font-size: 32px;
        letter-spacing: -1.44px;
        line-height: 38.4px;
        height: 152px;
    }
    }
    @media only screen and (min-width: 1280px){
        .adv-title {}
    }
    .adv-span {color:#BEC7C2;
        font-family: DM Sans;
        font-size: 24px;
        font-style: italic;
        font-weight: 500;
        line-height: 28.8px;
        letter-spacing: -1.08px;}
        @media only screen and (min-width: 768px) {
            .adv-span {font-size: 32px;
                line-height:38.4px;
                letter-spacing: -1.44px;}
            }
        .adv-text {color: #F6F5EF;
            font-family: DM Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; 
            letter-spacing: -0.28px;}
            @media only screen and (min-width: 768px) {
                .adv-text {
                    font-size: 16px;
                    line-height: 22.4px;
                    letter-spacing: -0.32px;}
            }
            .adv-list {
                display: inline-flex;
align-items: flex-start;
            gap:14px;
        margin-top: 40px;}
        @media only screen and (min-width: 768px) {
            .adv-list {gap:32px;
            padding-left: 315px;
        padding-bottom: 64px;}
        }
        @media only screen and (min-width: 1280px){
            .adv-list {margin-top: 0;}
        }
        .adv-item {min-width: 160px;
        height:220px}
        @media only screen and (min-width: 768px) {
            .adv-item {min-width:183px;
                width: 183px;
            height:242px;}
        }
        .adv-item-2 {min-width: 161px;
        height:180px;}
        @media only screen and (min-width: 768px) {
            .adv-item-2 {min-width:185px;
                width:185px;
                height:198px;} 
        }
        .adv-item {min-width: 160px;
            height:220px}
            .adv-item-2 {min-width: 161px;
            height:180px;
        }
        .adv-img-list {padding-top: 40px;
            gap:24px;
        padding-bottom: 126px;}
            @media only screen and (min-width:768px) {
                .adv-img-list {display:flex;
                flex-wrap: wrap;
                padding-bottom: 15px;}
            }
            @media only screen and (min-width:1280px) {
                .adv-img-list {flex-direction: row-reverse;
                align-items: baseline;}
            }
        .adv-img-item {padding-bottom: 24px;}
@media only screen and (max-width:767px) {  
        .adv-img-start {width: 100%;
        height: 524px;
        object-fit:cover;
    border-radius: 5%;
}
}
@media only screen and (min-width:768px) {
.adv-img-item-2 {
}
}
.adv-img-third {border-radius: 24px;
    -webkit-mask-image:linear-gradient( 180deg, black, rgb(0,0,0,0)); 
    position: absolute;
    bottom: -145px; 
    left: 60%;
    transform: translateX(-50%);
}
@media only screen and (min-width:768px) {
    .adv-img-third {left:70%}
}
    .aboutblock-img {
        position: relative;
        
    }