@media only screen and (min-width: 1280px) {
    .about-text-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
    }
}

.title-div {
    max-width: 335px;
}

@media only screen and (min-width: 768px) {
    .title-div {
        width: 511px;
    }
}

.adv-title {
    color: #F6F5EF;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
}


@media only screen and (min-width: 768px) {
    .adv-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        line-height: 38.4px;
    }
    .title-div {
        max-width: 514px;
    }
}

@media only screen and (min-width: 1280px) {
    .adv-title {}
}

.adv-span {
    color: #BEC7C2;
    font-family: DM Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: -1.08px;
}

@media only screen and (min-width: 768px) {
    .adv-span {
        font-size: 32px;
        line-height: 38.4px;
        letter-spacing: -1.44px;
    }
}

.adv-text {
    color: #F6F5EF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    max-width: 160px;
    letter-spacing: -0.28px;
}

.adv-item {
    max-width: 160px;
}

.adv-list {
    max-width: 335px;
}

@media only screen and (min-width: 768px) {
    .adv-text {
        font-size: 16px;
        line-height: 22.4px;
        letter-spacing: -0.32px;
        max-width: 185px;
    }
}

.adv-list {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin-top: 40px;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .adv-list {
        gap: 32px;
        margin-bottom: 64px;
        max-width: 400px;
    }
}

@media only screen and (min-width: 1280px) {
    .adv-list {
        margin-top: 0;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

.adv-item {
    max-width: 160px;
}

.adv-item-2 {
    max-width: 161px;
}

@media only screen and (min-width: 768px) {
    .adv-item {
        max-width: 183px;
    }
    .adv-item-2 {
         max-width: 185px;
    }
}


.adv-img-list {
    margin-top: 40px;
    gap: 24px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width:768px) {
    .adv-img-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 15px;
    }
}

@media only screen and (min-width:1280px) {
    .adv-img-list {
        flex-direction: row-reverse;
        align-items: baseline;
        padding-right: 150px;
        padding-bottom: 64px;
    }
}

.adv-img-start {}

@media only screen and (max-width:767px) {
    .adv-img-start {
        width: 100%;
        height: 524px;
        object-fit: cover;
        border-radius: 5%;
    }
}

@media only screen and (min-width:1280px) {
    .adv-img-start {
        padding-bottom: 70px;
    }
}

@media only screen and (min-width:1280px) {
    .adv-img-item-2 {
        padding-top: 1px;
    }
}

.adv-img-third {
    border-radius: 24px;
    -webkit-mask-image: linear-gradient(180deg, black, rgb(0, 0, 0, 0));
    position: absolute;
    bottom: -145px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1;
}

@media only screen and (min-width:768px) {
    .adv-img-third {
        left: 70%
    }
}

@media only screen and (min-width:1280px) {
    .adv-img-third {
        left: 40.4%
    }
}

.aboutblock-img {
    position: relative;

}