.back2top {
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
    position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;    
}

.arr-up-ico {
    overflow: hidden;
    
}

@media screen and (max-width: 767px) {
    .arr-up-ico {
        width: 44px;
        height: 44px;
    }
}

@media screen and (min-width: 768px) {
    .back2top {
        bottom: 32px;
        right: 32px;
    }
}