.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 32px;
  }
}
