/* Mobil */
.header {
    padding-bottom: 40px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--text-cart);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px 0;

}

.yacht-icon {
    fill: var(--text-cart);
    stroke: var(--dark-blue);
}

.header-logo {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.header-menu {
    display: none;
}

.menu-toggle {
    background-color: transparent;
    border: none;
}

.menu-toggle-icon {
    fill: var(--white);
}

/* Tablet */
@media screen and (min-width:768px) {
    .header {
        padding-bottom: 64px;
    }

    .header-list {
        padding: 32px 0;
    }

    .yacht-icon {
        width: 23px;
        height: 23px;
    }

    .header-nav {
        padding: 32px 0;
    }

    .header-menu {
        display: flex;
        align-items: center;
        gap: 24px;

    }

    .header-menu-link {
        color: var(--white, #F6F5EF);
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        opacity: 0.5;
    }

    .menu-toggle {
        display: none;
    }
    .light-1, .light-2 {
        display: none;
    }
}


/* Mobile menu */

.header-mobil-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: var(--dark-blue);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}

.header-mobil-menu.is-open {
    transform: translateX(0);
}

.header-mobil-menu .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--dark-blue);
    border: none;
}

.header-mobile-container {
    padding: 24px 20px 521px 20px;
}


.header-mobil-list {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--text-cart);
    margin-bottom: 140px;
}

.mobile-close {
    fill: #F6F5EF;
}

.header-mobil-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.header-mobil-font {
    font-size: 14px;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F6F5EF;
    opacity: 1;
}

.header-mobil-font:hover,
.header-mobil-font:focus {
    opacity: 0.5;
}

/* Latying */

.light-1 {
    position: absolute;
    top: 572px;
    left: -206px;
    width: 279px;
    height: 279px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 279px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);

}

.light-2 {
    position: absolute;
    top: 712px;
    left: 53px;
    width: 279px;
    height: 279px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 279px;
    opacity: 0.8999999761581421;
    background: #939CAC;
    filter: blur(100px);
}