.rentlblock_container {
background-color: var(--dark-blue);
}

.rentlblock_title {
    color: var(--white);
    width: 310px;
    font-size: 36px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;
    margin-bottom: 40px;
    
}

.anchor-btn {
    color: var(--white);
    background-color: var(--dark-blue);
    border: 1px solid #F6F5EF;
    border-radius: 60px;
    display: flex;
    padding: 14px 28px;
    align-items: flex-start;
}