.yahtsblock_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 40px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .yahtsblock_container {
    gap: 64px;
    padding-bottom: 100px;
    padding-left: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .yahtsblock_container {
    padding-bottom: 164px;
    padding-left: 199px;
  }
}

.yahtsblock_title {
  font-family: DM Sans;
  color: var(--white);
  max-width: 310px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
}

@media only screen and (min-width: 768px) {
  .yahtsblock_title {
    font-size: 70px;
    letter-spacing: -3.15px;
    max-width: 641px;
  }
}

@media only screen and (min-width: 1280px) {
  .yahtsblock_title {
    font-size: 100px;
    letter-spacing: -4.5px;
    max-width: 882px;
  }
}

/**
    |============================
    | Rent Button styles
    |============================
  */

.anchor-btn {
  font-family: DM Sans;
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  display: flex;
  padding: 14px 28px;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
}
/**
  |============================
  | Shadow styles
  |============================
*/

.circle-container {
  display: flex;
  position: relative;
}

.circle1 {
    position: absolute;
    width: 255px;
    height: 255px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 420px;
    opacity: 0.6000000238418579;
    background: #93ABAE;
    filter: blur(100px);
    background-size: cover;
    animation: rotate 8s linear infinite;
    left: -65px;
  }

@media screen and (min-width: 768px) {
  .circle1 {
    width: 399px;
    height: 399px;
    transform: rotate(-44.094deg);
    border-radius: 399px;
  }
}
@media screen and (min-width: 1280px) {
  .circle1 {
    width: 414px;
    height: 414px;
    transform: rotate(-45.044deg);
    border-radius: 414px;
    left: 56px;
  }
}

  .circle2 {
    position: absolute;
    width: 195px;
    height: 195px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 190px;
    opacity: 0.30000001192092896;
    background: #A6A9B2;
    filter: blur(100px);
    background-size: cover;
    animation: rotate 8s linear infinite;
    right: 23px;
  }

@media screen and (min-width: 768px) {
  .circle2 {
    width: 304px;
    height: 304px;
    transform: rotate(-44.094deg);
    border-radius: 304px;
    right: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .circle2 {
    width: 316px;
    height: 316px;
    transform: rotate(-45.074deg);
    border-radius: 316px;
    right: 420px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
